<div class="about">
  <a class="divider" href="{{ site.baseurl }}/">{{ site.author }}</a>
  <p>
     I'm a software engineer based in Los Angeles. Blogging about interesting technologies and challenges.
  </p>
  <p class="scala">
    scala> favoriteTopic()
    <br />
    res0: String = scala
  </p>

  <ul class="divider">
    <li>
      <a href="https://github.com/yeghishe" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/ypiruzyan" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/ypiruzyan" target="_blank">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href="mailto:ypiruzyan@gmail.com">
        <i class="fa fa fa-envelope-square" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
