<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tags" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
  </div>

  <div id="tags" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
    {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      {% capture tag_url %}{{ "/tags/" }}{{ t | slugify }}{% endcapture %}
      <li>
        <a class="page-link" href="{{ tag_url  | prepend: site.baseurl }}">{{t | downcase | replace:" ","-" }}</a>
      </li>
    {% endfor %}
    <ul>
  </div>
</nav>

<hr class="hidden-xs" />

<div class="hidden-xs">
  <p>{{ site.description }}</p>
  <hr />
</div>

<ul class="list-unstyled hidden-xs">
  <li>
    <i class="fa fa-linkedin"></i>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">ypiruzyan</a>
  </li>
  <li>
    <i class="fa fa-github"></i>
    <a href="https://github.com/{{ site.github_username }}" target="_blank">yeghishe</a>
  </li>
  <li>
    <i class="fa fa-twitter"></i>
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">ypiruzyan</a>
  </li>
  <li>
    <i class="fa fa-google"></i>
    <a href="mailto:{{ site.email }}">ypiruzyan</a>
  </li>
</ul>

<hr class="hidden-xs" />

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
