<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="sidebar col-md-3 col-lg-2">
          {% include sidebar.html %}
        </div>
        <div class="content col-md-9 col-lg-10">
          {{ content }}
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-551b16eb4d31da19" async="async"></script>
    <script>
      if (window.location.hostname !== 'localhost') {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58866358-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
  </body>

</html>
